{{ template "chart.header" . }}

{{ template "chart.versionBadge" . }} {{ template "chart.appVersionBadge" . }}

## Description

{{ template "chart.description" . }}

{{ template "chart.maintainersSection" . }}

## Values

{{ template "chart.valuesTable" . }}